:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

footer {
  font-size: .8em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.poem p, .about p, .art p, .annotated p, .author p {
  text-align: center;
}

footer p {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
}

.creative-commons-img {
  max-width: 1em;
  max-height: 1em;
  margin-left: .2em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
